* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* .grid-container {
    display: grid;
    max-width: 1300px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    padding: 100px;
}
.box1 {
    grid-row: 1;
    grid-column: 1;
}
.box2 {
    grid-row: 1;
    grid-column: 2;
}
.box3 {
    grid-row: 1/3;
    grid-column: 3;
}
.box4 {
    grid-row: 2;
    grid-column: 1;
}
.box5 {
    grid-row: 2;
    grid-column: 2;
}
.box6 {
    grid-row: 3;
    grid-column: 1/4;
}

.one img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
} */

.container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    gap: 10px;
    padding-left: 400px;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.box7{
   grid-row: 3;
   grid-column: 1/-1;
}
